In [2]:
import nltk
import pandas as pd

In [3]:
nltk.download("movie_reviews")

[nltk_data] Downloading package movie_reviews to
[nltk_data]     /home/yiyi/nltk_data...
[nltk_data]   Package movie_reviews is already up-to-date!

True

In [6]:
rows = []
for fileid in nltk.corpus.movie_reviews.fileids():
    rows.append({"text": nltk.corpus.movie_reviews.raw(fileid)})
df = pd.DataFrame(rows)
print(len(df))

2000

In [7]:
df

                                                   text
0     plot : two teen couples go to a church party ,...
1     the happy bastard's quick movie review \ndamn ...
2     it is movies like these that make a jaded movi...
3      " quest for camelot " is warner bros . ' firs...
4     synopsis : a mentally unstable man undergoing ...
...                                                 ...
1995  wow ! what a movie . \nit's everything a movie...
1996  richard gere can be a commanding actor , but h...
1997  glory--starring matthew broderick , denzel was...
1998  steven spielberg's second epic film on world w...
1999  truman ( " true-man " ) burbank is the perfect...

[2000 rows x 1 columns]