In [21]:
import json
import pandas as pd
import numpy as np
import glob
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
from scipy import stats
from collections import defaultdict, Counter
%matplotlib inline

In [2]:
with open('prepare_dataset/gold_sent_list.json') as reader:
    gold_sent_list = json.load(reader)

In [31]:
cat_file_dict=defaultdict(list)
cpt_dict= {}
cat_sent_dict = defaultdict(list)
for anno in gold_sent_list:
    fileId=anno['fileId']
    
    sent_list = anno['sent_list']
    for a in sent_list:
        cpt_dict[a['cpt_id']]= (a['cpt_label'], a['category'])
        cat_file_dict[a['category']].append(a['fileId'])
    
    cat = sent_list[0]['category']
    cat_sent_dict[cat].append(len(sent_list))

In [35]:
sents=0
for cat, l in cat_sent_dict.items():
    print(cat, sum(l))
    sents+=sum(l)

facility 848
pool 869
renovation_room 880
restaurant 1100
room 1526
reception 928

In [36]:
sents

6151

In [25]:
cat_file_dedup ={x: len(list(set(y))) for x,y in cat_file_dict.items()}

In [34]:
sum(cat_file_dedup.values())

381

In [29]:
cat_cpt_dict = defaultdict(list)
for idx, d in cpt_dict.items():
    x,y= d
    cat_cpt_dict[y].append(x)

In [30]:
for cat, l in cat_cpt_dict.items():
    print(cat, Counter(l))

facility Counter({'d': 63, 'a': 37, 'b': 33, 'c': 13})
pool Counter({'d': 51, 'a': 31, 'b': 19, 'c': 12})
renovation_room Counter({'d': 50, 'a': 43, 'b': 7, 'c': 5})
restaurant Counter({'d': 69, 'b': 43, 'a': 40, 'c': 32})
room Counter({'d': 84, 'b': 62, 'a': 54, 'c': 31})
reception Counter({'d': 63, 'a': 39, 'c': 36, 'b': 34})

In [22]:
Counter(cpt_dict.values())

Counter({'a': 244, 'd': 380, 'c': 129, 'b': 198})

In [37]:
df = pd.read_csv('preprocessed_data/sents_df.csv', index_col = 0)

In [39]:
cat_len_dict = defaultdict(list)

for key, group in df.groupby('fileId'):
    cat = group['category'].to_list()[0]
    cat_len_dict[cat].append(len(group))

In [42]:
avgs = []
sums =0
for cat , l in cat_len_dict.items():
    print(cat, np.mean(l))
    print(cat, sum(l))
    sums += sum(l)
    avgs.append(np.mean(l))

facility 21.057971014492754
facility 1453
pool 18.651515151515152
pool 1231
renovation_room 17.370967741935484
renovation_room 1077
restaurant 24.458333333333332
restaurant 1761
room 25.767441860465116
room 2216
reception 25.50769230769231
reception 1658

In [43]:
np.mean(avgs)

22.135653568239025

In [44]:
sums

9396

In [54]:
df['cpt_label'].fillna('d', inplace=True)

In [56]:
df.head()

,yes-sentiment,yes-aspect,no-sentiment,no-aspect,category,hotel_id,cpt,Total,fileId,iId,gold-aspect,gold-sentiment,text,date,sentiment,cpts,sentiment_mean,date_period,cpt_id,cpt_label
0_0,2,2,0,0,facility,260,0,4,0,0,True,True,The lobby bar always had a solo performer pian...,2015-02-09,-0.407074,"[0, 485, 912]",0.180685,"['2015-01-01', '2017-06-25']",0_0,a
0_2,2,2,0,0,facility,260,0,4,0,2,True,True,We were then escorted to one of the lobby chec...,2015-04-21,-0.405840,"[0, 485, 912]",0.180685,"['2015-01-01', '2017-06-25']",0_0,a
0_3,2,2,0,0,facility,260,0,4,0,3,True,True,I went to the gym most mornings but I did the ...,2015-04-30,-0.490811,"[0, 485, 912]",0.180685,"['2015-01-01', '2017-06-25']",0_0,a
0_4,0,2,2,0,facility,260,0,4,0,4,True,False,I suggest a room away from the elevators for t...,2015-07-14,-0.439716,"[0, 485, 912]",0.180685,"['2015-01-01', '2017-06-25']",0_0,a
0_5,2,2,0,0,facility,260,0,4,0,5,True,True,But Lorena sure did a good job and was so swee...,2015-08-13,-0.105745,"[0, 485, 912]",0.180685,"['2015-01-01', '2017-06-25']",0_0,a

In [65]:
len(df)

9396

In [66]:
gold_df = pd.read_csv('prepare_dataset/gold_df.csv', index_col=0)

In [86]:
gold_df.head()

,yes-sentiment,yes-aspect,no-sentiment,no-aspect,category,hotel_id,cpt,Total,fileId,iId,...,text,date,sentiment,cpts,sentiment_mean,date_period,cpt_id,cpt_label,TS_LEN,argmin_max
0_0,2,2,0,0,facility,260,0,4,0,0,...,The lobby bar always had a solo performer pian...,2015-02-09,-0.407074,"[0, 485, 912]",0.180685,"['2015-01-01', '2017-06-25']",0_0,a,8,NaN
0_2,2,2,0,0,facility,260,0,4,0,2,...,We were then escorted to one of the lobby chec...,2015-04-21,-0.405840,"[0, 485, 912]",0.180685,"['2015-01-01', '2017-06-25']",0_0,a,8,NaN
0_3,2,2,0,0,facility,260,0,4,0,3,...,I went to the gym most mornings but I did the ...,2015-04-30,-0.490811,"[0, 485, 912]",0.180685,"['2015-01-01', '2017-06-25']",0_0,a,8,NaN
0_4,0,2,2,0,facility,260,0,4,0,4,...,I suggest a room away from the elevators for t...,2015-07-14,-0.439716,"[0, 485, 912]",0.180685,"['2015-01-01', '2017-06-25']",0_0,a,8,NaN
0_5,2,2,0,0,facility,260,0,4,0,5,...,But Lorena sure did a good job and was so swee...,2015-08-13,-0.105745,"[0, 485, 912]",0.180685,"['2015-01-01', '2017-06-25']",0_0,a,8,NaN

In [68]:
len(gold_df)

6151

In [73]:
len(list(set(gold_df['fileId'].to_list())))

381

In [92]:
import ast

In [93]:
cpts_d = defaultdict(dict)

labels_list =[]
for fileId, group in gold_df.groupby('fileId'):
    cpts = json.loads(group['cpts'].to_list()[0]) # [0, 485, 912]
    cpt_dict = dict(zip(group.cpt_id, group.cpt_label)) # {0:'a',1:'d'}
    cpt_dict_sorted= {int(x.split('_')[-1]): y for x,y in cpt_dict.items()}
    
    category = group['category'].to_list()[0]
    
    periods_cands = list(zip(cpts[:-1], cpts[1:]))
    print(cpt_dict_sorted)
    print(periods_cands)
    cpts_ = [x for x,y in cpt_dict_sorted.items() if y!='c'] # flip out 'c'
    labels = [y for x,y in cpt_dict_sorted.items() if y!='c']
    print(cpts_)
    print(group['date_period'].to_list()[0])
    date_periods = ast.literal_eval(group['date_period'].to_list()[0])
    print(date_periods)
    valid_dates = [date_periods[x] for x in cpts_]
    valid_periods = [periods_cands[x] for x in cpts_]
    periods= [0] + [y for x,y in valid_periods]
    
    if periods[-1]!= cpts[-1]:
        periods += [cpts[-1]]
    print(valid_periods)
    print(periods)
    if labels[-1]=='d':
        labels = labels[:-1]
    if len(labels)>0:
        cpts_d[fileId]['cpts'] = cpts
        cpts_d[fileId]['hotel_id'] = group['hotel_id'].to_list()[0]
        cpts_d[fileId]['valid_cpts']= periods
        cpts_d[fileId]['valid_dates'] = valid_dates
        cpts_d[fileId]['valid_labels'] = labels
        cpts_d[fileId]['category'] = category
        
        labels_list.append(labels)
    print(labels)
    print('*'*20)

{0: 'a', 1: 'd'}
[(0, 485), (485, 912)]
[0, 1]
['2015-01-01', '2017-06-25']
['2015-01-01', '2017-06-25']
[(0, 485), (485, 912)]
[0, 485, 912]
['a']
********************
{0: 'c', 1: 'd'}
[(0, 800), (800, 1201)]
[1]
['2015-01-01', '2018-02-26']
['2015-01-01', '2018-02-26']
[(800, 1201)]
[0, 1201]
[]
********************
{0: 'a', 1: 'd'}
[(0, 45), (45, 86)]
[0, 1]
['2015-01-03', '2018-07-17']
['2015-01-03', '2018-07-17']
[(0, 45), (45, 86)]
[0, 45, 86]
['a']
********************
{0: 'a', 1: 'a', 2: 'c', 3: 'c', 4: 'c'}
[(0, 75), (75, 885), (885, 990), (990, 1085), (1085, 1105), (1105, 1373)]
[0, 1]
['2015-01-01', '2015-04-03']
['2015-01-01', '2015-04-03']
[(0, 75), (75, 885)]
[0, 75, 885, 1373]
['a', 'a']
********************
{0: 'c', 1: 'c', 2: 'b', 3: 'd'}
[(0, 135), (135, 780), (780, 1040), (1040, 1272)]
[2, 3]
['2015-01-01', '2015-06-26']
['2015-01-01', '2015-06-26']

IndexError: list index out of range

In [94]:
cpts_d[0]

{'cpts': [0, 485, 912],
 'hotel_id': 260,
 'valid_cpts': [0, 485, 912],
 'valid_dates': ['2015-01-01', '2017-06-25'],
 'valid_labels': ['a'],
 'category': 'facility'}

In [76]:
from itertools import chain

In [78]:
labels = list(chain.from_iterable(labels_list))

In [79]:
from collections import Counter

In [80]:
Counter(labels)

Counter({'a': 244, 'b': 198, 'd': 1})

In [81]:
sum(Counter(labels).values())

443

In [74]:
len(cpts_d)

356

In [95]:
with open('prepare_dataset/gold_cpt_dict.json', 'w') as writer:
    json.dump(cpts_d, writer)