In [22]:
import os
import pandas as pd
import json
import numpy as np

In [8]:
anno_df = pd.read_csv('annotated_sentences_df.csv', index_col=0)
review_df = pd.read_csv('stats_sentences_df.csv', index_col=0)

In [9]:
anno_df.head()

     no-aspect  no-sentiment  yes-aspect  yes-sentiment  Total  fileId  iId
0_0          0             0           2              2      4       0    0
0_2          0             0           2              2      4       0    2
0_3          0             0           2              2      4       0    3
0_4          0             2           2              0      4       0    4
0_5          0             0           2              2      4       0    5

In [10]:
review_df.head()

     sent_id  file_id  cpt
0_0        0        0    0
0_2        2        0    0
0_3        3        0    0
0_4        4        0    0
0_5        5        0    0

In [13]:
filesent_ids_diff = list(set(review_df.index).difference(set(anno_df.index)))

In [14]:
filesent_ids_diff

['84_12',
 '84_18',
 '84_11',
 '84_9',
 '84_13',
 '84_15',
 '84_16',
 '84_7',
 '84_5',
 '84_6',
 '84_19',
 '84_0',
 '84_3',
 '84_17',
 '84_2',
 '84_4',
 '84_14',
 '84_8',
 '84_1',
 '84_10']

In [15]:
annotated_cpts_df = pd.read_csv('annotated_cpts_df.csv', index_col=0)

In [16]:
annotated_cpts_df.head()

     a  b  c  Total  fileId  iId
0_0  1  0  1      2       0    0
1_0  0  0  2      2       1    0
2_0  1  0  1      2       2    0
3_0  1  0  1      2       3    0
3_1  1  0  1      2       3    1

In [17]:
cpts_df = pd.read_csv("stats_cpts.csv", index_col=0)

In [18]:
cpts_df.head()

     file_id  cpt
0_0        0    0
1_0        1    0
2_0        2    0
3_0        3    0
3_1        3    1

In [20]:
diff = list(set(cpts_df.index).difference(set(annotated_cpts_df.index)))

In [21]:
diff

['84_0']

# merge annotations

In [23]:
db_path = '/home/yiyi/Documents/masterarbeit/cpd_annotations/api-json-server/db.json'

In [24]:
db_path_new = 'db.json'

In [25]:
# local 
with open(db_path) as reader:
    db= json.load(reader)
    
# from dev-box
with open(db_path_new) as reader:
    db_new = json.load(reader)

In [26]:
annotations = db['annotations']
annotations_dev= db_new['annotations']

In [27]:
annotations[0]

{'id': 'lZqrFrJub',
 'date': '2020-06-30T10:59:09.303Z',
 'filename': 'renovation_room_147',
 'fileId': '252',
 'username': 'Edita',
 'annotation': [{'id': 0, 'yes_aspect': True, 'yes_sentiment': True},
  {'id': 1, 'yes_aspect': True, 'yes_sentiment': True},
  {'id': 2, 'yes_aspect': True, 'yes_sentiment': True},
  {'id': 3, 'yes_sentiment': True},
  {'id': 4, 'yes_aspect': True, 'yes_sentiment': True},
  {'id': 5, 'yes_aspect': True, 'yes_sentiment': True},
  {'id': 6, 'yes_aspect': True, 'yes_sentiment': True},
  {'id': 7, 'yes_aspect': True, 'yes_sentiment': True},
  {'id': 8, 'yes_aspect': True, 'yes_sentiment': True},
  {'id': 9, 'yes_aspect': False, 'yes_sentiment': True}],
 'cptAnswer': {}}

In [28]:
annotations_merged = []

for annotation in annotations_dev:
    username=annotation['username']
    if username!= 'yiyi':
        annotations_merged.append(annotation)
        
for annotation in annotations:
    username=annotation['username']
    if username== 'yiyi':
        annotations_merged.append(annotation)

In [29]:
len(annotations_merged)

966

In [30]:
with open('data/annotations.json', 'w') as writer:
    json.dump(annotations_merged, writer)

In [32]:
with open('data/reviews.json', 'w') as writer:
    json.dump(db['reviews'], writer)