In [1]:
import json
import pandas as pd
import numpy as np
import glob
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
from scipy import stats
from collections import defaultdict, Counter
%matplotlib inline

In [2]:
with open('prepare_dataset/gold_sent_list.json') as reader:
    gold_sent_list = json.load(reader)

In [3]:
cat_file_dict=defaultdict(list)
cpt_dict= {}
cat_sent_dict = defaultdict(list)
for anno in gold_sent_list:
    fileId=anno['fileId']
    
    sent_list = anno['sent_list']
    for a in sent_list:
        cpt_dict[a['cpt_id']]= (a['cpt_label'], a['category'])
        cat_file_dict[a['category']].append(a['fileId'])
    
    cat = sent_list[0]['category']
    cat_sent_dict[cat].append(len(sent_list))

In [4]:
sents=0
for cat, l in cat_sent_dict.items():
    print(cat, sum(l))
    sents+=sum(l)

facility 848
pool 869
renovation_room 880
restaurant 1100
room 1526
reception 928

In [5]:
sents

6151

In [6]:
cat_file_dedup ={x: len(list(set(y))) for x,y in cat_file_dict.items()}

In [7]:
sum(cat_file_dedup.values())

381

In [8]:
cat_cpt_dict = defaultdict(list)
for idx, d in cpt_dict.items():
    x,y= d
    cat_cpt_dict[y].append(x)

In [9]:
for cat, l in cat_cpt_dict.items():
    print(cat, Counter(l))

facility Counter({'d': 63, 'a': 37, 'b': 33, 'c': 13})
pool Counter({'d': 51, 'a': 31, 'b': 19, 'c': 12})
renovation_room Counter({'d': 50, 'a': 43, 'b': 7, 'c': 5})
restaurant Counter({'d': 69, 'b': 43, 'a': 40, 'c': 32})
room Counter({'d': 84, 'b': 62, 'a': 54, 'c': 31})
reception Counter({'d': 62, 'a': 39, 'c': 36, 'b': 35})

In [10]:
Counter(cpt_dict.values())

Counter({('a', 'facility'): 37,
         ('d', 'facility'): 63,
         ('c', 'pool'): 12,
         ('d', 'pool'): 51,
         ('a', 'renovation_room'): 43,
         ('d', 'renovation_room'): 50,
         ('a', 'restaurant'): 40,
         ('c', 'restaurant'): 32,
         ('c', 'room'): 31,
         ('b', 'room'): 62,
         ('d', 'room'): 84,
         ('b', 'reception'): 35,
         ('d', 'reception'): 62,
         ('a', 'pool'): 31,
         ('b', 'restaurant'): 43,
         ('d', 'restaurant'): 69,
         ('a', 'room'): 54,
         ('c', 'reception'): 36,
         ('b', 'pool'): 19,
         ('a', 'reception'): 39,
         ('b', 'renovation_room'): 7,
         ('b', 'facility'): 33,
         ('c', 'facility'): 13,
         ('c', 'renovation_room'): 5})

In [11]:
df = pd.read_csv('preprocessed_data/sents_df.csv', index_col = 0)

In [12]:
cat_len_dict = defaultdict(list)

for key, group in df.groupby('fileId'):
    cat = group['category'].to_list()[0]
    cat_len_dict[cat].append(len(group))

In [13]:
avgs = []
sums =0
for cat , l in cat_len_dict.items():
    print(cat, np.mean(l))
    print(cat, sum(l))
    sums += sum(l)
    avgs.append(np.mean(l))

facility 21.057971014492754
facility 1453
pool 18.651515151515152
pool 1231
renovation_room 17.370967741935484
renovation_room 1077
restaurant 24.458333333333332
restaurant 1761
room 25.767441860465116
room 2216
reception 25.50769230769231
reception 1658

In [14]:
np.mean(avgs)

22.135653568239025

In [15]:
sums

9396

In [7]:
df['cpt_label'].fillna('d', inplace=True)

In [8]:
df.head()

,yes-sentiment,yes-aspect,no-sentiment,no-aspect,category,hotel_id,cpt,Total,fileId,iId,gold-aspect,gold-sentiment,text,date,sentiment,cpts,sentiment_mean,date_period,cpt_id,cpt_label
0_0,2,2,0,0,facility,260,0,4,0,0,True,True,The lobby bar always had a solo performer pian...,2015-02-09,-0.407074,"[0, 485, 912]",0.180685,"['2015-01-01', '2017-06-25']",0_0,a
0_2,2,2,0,0,facility,260,0,4,0,2,True,True,We were then escorted to one of the lobby chec...,2015-04-21,-0.405840,"[0, 485, 912]",0.180685,"['2015-01-01', '2017-06-25']",0_0,a
0_3,2,2,0,0,facility,260,0,4,0,3,True,True,I went to the gym most mornings but I did the ...,2015-04-30,-0.490811,"[0, 485, 912]",0.180685,"['2015-01-01', '2017-06-25']",0_0,a
0_4,0,2,2,0,facility,260,0,4,0,4,True,False,I suggest a room away from the elevators for t...,2015-07-14,-0.439716,"[0, 485, 912]",0.180685,"['2015-01-01', '2017-06-25']",0_0,a
0_5,2,2,0,0,facility,260,0,4,0,5,True,True,But Lorena sure did a good job and was so swee...,2015-08-13,-0.105745,"[0, 485, 912]",0.180685,"['2015-01-01', '2017-06-25']",0_0,a

In [9]:
len(df)

9396

In [16]:
gold_df = pd.read_csv('prepare_dataset/gold_df.csv', index_col=0)

In [17]:
gold_df.head()

,yes-sentiment,yes-aspect,no-sentiment,no-aspect,category,hotel_id,cpt,Total,fileId,iId,...,text,date,sentiment,cpts,sentiment_mean,date_period,cpt_id,cpt_label,TS_LEN,argmin_max
0_0,2,2,0,0,facility,260,0,4,0,0,...,The lobby bar always had a solo performer pian...,2015-02-09,-0.407074,"[0, 485, 912]",0.180685,"['2015-01-01', '2017-06-25']",0_0,a,8,NaN
0_2,2,2,0,0,facility,260,0,4,0,2,...,We were then escorted to one of the lobby chec...,2015-04-21,-0.405840,"[0, 485, 912]",0.180685,"['2015-01-01', '2017-06-25']",0_0,a,8,NaN
0_3,2,2,0,0,facility,260,0,4,0,3,...,I went to the gym most mornings but I did the ...,2015-04-30,-0.490811,"[0, 485, 912]",0.180685,"['2015-01-01', '2017-06-25']",0_0,a,8,NaN
0_4,0,2,2,0,facility,260,0,4,0,4,...,I suggest a room away from the elevators for t...,2015-07-14,-0.439716,"[0, 485, 912]",0.180685,"['2015-01-01', '2017-06-25']",0_0,a,8,NaN
0_5,2,2,0,0,facility,260,0,4,0,5,...,But Lorena sure did a good job and was so swee...,2015-08-13,-0.105745,"[0, 485, 912]",0.180685,"['2015-01-01', '2017-06-25']",0_0,a,8,NaN

In [18]:
len(gold_df)

6151

In [19]:
len(list(set(gold_df['fileId'].to_list())))

381

In [20]:
gold_df[gold_df['fileId']==244]

,yes-sentiment,yes-aspect,no-sentiment,no-aspect,category,hotel_id,cpt,Total,fileId,iId,...,text,date,sentiment,cpts,sentiment_mean,date_period,cpt_id,cpt_label,TS_LEN,argmin_max
244_0,2,2,0,0,reception,395,1,4,244,0,...,You have awesome staff and they should be rewa...,2015-02-11,0.487299,"[0, 5, 20, 602]",0.226539,"['2015-01-31', '2015-04-04']",244_1,b,6,True
244_1,2,2,0,0,reception,395,1,4,244,1,...,I have a family member that travels also to th...,2015-02-11,0.469558,"[0, 5, 20, 602]",0.226539,"['2015-01-31', '2015-04-04']",244_1,b,6,NaN
244_2,2,2,0,0,reception,395,1,4,244,2,...,I make sure I stay at this hotel because of th...,2015-02-11,0.426448,"[0, 5, 20, 602]",0.226539,"['2015-01-31', '2015-04-04']",244_1,b,6,NaN
244_4,2,2,0,0,reception,395,1,4,244,4,...,Four Diamond Service,2015-02-18,0.406429,"[0, 5, 20, 602]",0.226539,"['2015-01-31', '2015-04-04']",244_1,b,6,NaN
244_5,2,2,0,0,reception,395,1,4,244,5,...,Wish I could remember all the names of the sta...,2015-02-26,0.259832,"[0, 5, 20, 602]",0.226539,"['2015-01-31', '2015-04-04']",244_1,b,6,NaN
244_6,2,2,0,0,reception,395,1,4,244,6,...,Jil went above and beyond to make us feel welc...,2015-03-04,0.409729,"[0, 5, 20, 602]",0.226539,"['2015-01-31', '2015-04-04']",244_1,b,6,NaN
244_8,1,2,1,0,reception,395,2,4,244,8,...,Maybe a man should work the front desk overnight,2017-03-24,-0.491699,"[0, 5, 20, 602]",0.365311,"['2015-04-06', '2020-03-18']",244_2,d,4,True
244_10,2,2,0,0,reception,395,2,4,244,10,...,It took longer than 10 minutes for the bartend...,2017-06-13,-0.487715,"[0, 5, 20, 602]",0.365311,"['2015-04-06', '2020-03-18']",244_2,d,4,NaN
244_12,1,2,1,0,reception,395,2,4,244,12,...,the front desk staff bent over back wards to a...,2018-11-21,-0.383876,"[0, 5, 20, 602]",0.365311,"['2015-04-06', '2020-03-18']",244_2,d,4,NaN
244_15,1,2,1,0,reception,395,2,4,244,15,...,The snacks and drinks are overpriced but the f...,2019-06-17,-0.102088,"[0, 5, 20, 602]",0.365311,"['2015-04-06', '2020-03-18']",244_2,d,4,NaN

In [23]:
file_cpt_date_dict=defaultdict(dict)

for fileId, group in gold_df.groupby('fileId'):
    for cpt, g in group.groupby('cpt'):
        file_cpt_date_dict[fileId][cpt]= ast.literal_eval(g['date_period'].to_list()[0])

In [24]:
file_cpt_date_dict[4]

{0: ['2015-01-01', '2015-06-26'],
 1: ['2015-06-27', '2017-10-22'],
 2: ['2017-10-26', '2019-03-09'],
 3: ['2019-03-12', '2020-04-12']}

In [22]:
import ast

In [25]:
cpts_d = defaultdict(dict)

labels_list =[]
for fileId, group in gold_df.groupby('fileId'):
#     print(fileId)
    cpts = json.loads(group['cpts'].to_list()[0]) # [0, 485, 912]
    cpt_dict = dict(zip(group.cpt_id, group.cpt_label)) # {0:'a',1:'d'}
    cpt_dict_sorted= {int(x.split('_')[-1]): y for x,y in cpt_dict.items()}
    
    category = group['category'].to_list()[0]
    
    periods_cands = list(zip(cpts[:-1], cpts[1:]))
#     print(cpt_dict_sorted)
#     print(periods_cands)
    cpts_ = [x for x,y in cpt_dict_sorted.items() if y!='c'] # flip out 'c'
    labels = [y for x,y in cpt_dict_sorted.items() if y!='c']
#     print(cpts_)
#     print('date given:', file_cpt_date_dict[fileId], cpts_)
    valid_dates = [file_cpt_date_dict[fileId][c] for c in cpts_]

    valid_periods = [periods_cands[x] for x in cpts_]
    periods= [0] + [y for x,y in valid_periods]
    
#     print('dates:', valid_dates)
#     print(valid_periods)
    
    if periods[-1]!= cpts[-1]:
        periods += [cpts[-1]]
#     print(periods)
    if labels[-1]=='d':
        
        labels = labels[:-1]
    if len(labels)>0:
        cpts_d[fileId]['cpts'] = cpts
        cpts_d[fileId]['hotel_id'] = group['hotel_id'].to_list()[0]
        cpts_d[fileId]['valid_cpts']= periods
        cpts_d[fileId]['valid_dates'] = valid_dates
        cpts_d[fileId]['valid_labels'] = labels
        cpts_d[fileId]['category'] = category
        if 'd' in labels:
            print(fileId)
            print(cpt_dict_sorted)
            print(cpts_d[fileId])
        
        labels_list.append(labels)
#     print(labels)
#     print('*'*20)

In [27]:
cpts_d[244]

{'cpts': [0, 5, 20, 602],
 'hotel_id': 395,
 'valid_cpts': [0, 20, 602],
 'valid_dates': [['2015-01-31', '2015-04-04'], ['2015-04-06', '2020-03-18']],
 'valid_labels': ['b'],
 'category': 'reception'}

In [28]:
len(cpts_d)

356

In [29]:
from itertools import chain

In [30]:
labels = list(chain.from_iterable(labels_list))

In [31]:
from collections import Counter

In [32]:
Counter(labels)

Counter({'a': 244, 'b': 199})

In [33]:
sum(Counter(labels).values())

443

In [34]:
len(cpts_d)

356

In [35]:
with open('prepare_dataset/gold_cpt_dict.json', 'w') as writer:
    json.dump(cpts_d, writer)

In [36]:
gold_cpt_df = pd.DataFrame.from_dict(cpts_d, orient='index')

In [39]:
gold_cpt_df

,cpts,hotel_id,valid_cpts,valid_dates,valid_labels,category
0,"[0, 485, 912]",260,"[0, 485, 912]","[[2015-01-01, 2017-06-25], [2017-06-28, 2020-0...",[a],facility
2,"[0, 45, 86]",260,"[0, 45, 86]","[[2015-01-03, 2018-07-17], [2018-09-07, 2020-0...",[a],renovation_room
3,"[0, 75, 885, 990, 1085, 1105, 1373]",260,"[0, 75, 885, 1373]","[[2015-01-01, 2015-04-03], [2015-04-04, 2018-0...","[a, a]",restaurant
4,"[0, 135, 780, 1040, 1272]",260,"[0, 1040, 1272]","[[2017-10-26, 2019-03-09], [2019-03-12, 2020-0...",[b],room
5,"[0, 885, 2140]",110,"[0, 885, 2140]","[[2015-01-04, 2018-06-25 04:12:47], [2018-06-2...",[a],facility
...,...,...,...,...,...,...
415,"[0, 95, 310, 410, 570, 878]",389,"[0, 95, 310, 410, 878]","[[2015-01-01, 2015-10-10], [2015-10-13, 2017-0...","[a, b, a]",reception
416,"[0, 185, 275, 605]",389,"[0, 275, 605]","[[2017-04-23, 2017-09-07], [2017-09-08, 2020-0...",[b],pool
417,"[0, 20, 50]",389,"[0, 20, 50]","[[2015-09-08, 2018-11-09], [2018-11-18, 2020-0...",[a],renovation_room
418,"[0, 160, 640, 662]",389,"[0, 160, 640, 662]","[[2015-01-01, 2017-03-30], [2017-03-31, 2020-0...","[a, b]",restaurant
419,"[0, 155, 230, 781]",389,"[0, 155, 230, 781]","[[2015-01-01, 2016-10-13], [2016-10-14, 2017-0...","[a, a]",room

In [44]:
cat_cpt_dict = defaultdict(list)

for c, vls in zip(gold_cpt_df['category'].to_list(), gold_cpt_df['valid_labels'].to_list()):
    cat_cpt_dict[c].append(vls)

In [48]:
from itertools import chain

cat_cpts = dict()

for c, cl in cat_cpt_dict.items():
    cat_cpts[c] = list(chain.from_iterable(cl))

In [54]:
for cate, cpts in cat_cpts.items():
    print(cate, Counter(cpts))

facility Counter({'a': 37, 'b': 33})
renovation_room Counter({'a': 43, 'b': 7})
restaurant Counter({'b': 43, 'a': 40})
room Counter({'b': 62, 'a': 54})
reception Counter({'a': 39, 'b': 35})
pool Counter({'a': 31, 'b': 19})