In [29]:
import pandas as pd
import numpy as np
import os

from utils import *
from joblib import Parallel, delayed

In [ ]:
'/home/yiyi/Documents/masterthesis/CPD/data/cleand_query_output_csv/0#f116f785-8626-48f3-a390-c0c4a03b5bd6'

In [17]:
filepath ='/home/yiyi/Documents/masterthesis/CPD/data/sentiment_analysis/results/0#f116f785-8626-48f3-a390-c0c4a03b5bd6'

In [19]:
df = pd.read_csv(filepath)

In [20]:
df.tail()

,uid,lemma,sentence,sentiment,date,score
41574,42ceed2e-c90f-41a0-9832-6c296f4514a8,arrived check pm room available,we arrived for check in at pm and there was no...,-0.46696650981903076,2020-01-03 00:00:00,62.0
41575,42ceed2e-c90f-41a0-9832-6c296f4514a8,waited till pm room,we have waited till pm and there was no room,-0.43732625246047974,2020-01-03 00:00:00,62.0
41576,42ceed2e-c90f-41a0-9832-6c296f4514a8,traveled baby long wait provided room,i traveled with babies and after a long wait t...,-0.3723573088645935,2020-01-03 00:00:00,62.0
41577,42ceed2e-c90f-41a0-9832-6c296f4514a8,breakfast ok really crowded employee friendly,the breakfast is ok but really crowded the emp...,-0.4968535006046295,2020-01-03 00:00:00,62.0
41578,42ceed2e-c90f-41a0-9832-6c296f4514a8,good location,good location,0.49850887060165405,2020-01-03 00:00:00,62.0

In [21]:
df['date'] = df['date'].apply(lambda x : pd.to_datetime(x, errors='coerce')).dropna()

In [23]:
df['sentiment'] = df['sentiment'].apply(lambda x : pd.to_numeric(x, errors='coerce')).dropna()

In [24]:
df.loc[df['sentiment']>=0.35, 'polarity'] = 1
df.loc[df['sentiment']<= -0.35, 'polarity'] = -1
df.loc[(df['sentiment']> -0.35) &(df['sentiment']<0.35), 'polarity'] = 0

In [25]:
len(df)

41579

In [27]:
reno_keywords =['revamp', 'overhaul', 'remodel', 'update', 'redone', 'redo',
                'remodel', 'renovation', 
                'renovate', 'redecorate', 
                'refurbish', 'repair', 'refit', 'recondition',
                'renew', 'renewal', 'reform' ]

In [30]:
lemmas = Parallel(n_jobs=-1)(delayed(lemmatize_sent)(sent) for sent in df.sentence.to_list())
df['lemma'] = lemmas
df['renovation'] = df.apply(lambda x: sum([y in x.lemma for y in reno_keywords]) > 0, axis=1)

In [31]:
df.to_csv('/home/yiyi/Documents/masterthesis/CPD/data/rolling_window/renovation/0#f116f785-8626-48f3-a390-c0c4a03b5bd6')

In [19]:
df['date']

0       2008-05-01
1       2008-05-01
2       2008-05-01
3       2008-05-01
4       2008-05-01
           ...
41574   2020-01-03
41575   2020-01-03
41576   2020-01-03
41577   2020-01-03
41578   2020-01-03
Name: date, Length: 41579, dtype: datetime64[ns]