In [1]:
from lda_model import sent_to_words, process_data_words, build_model,format_topics_sentences,frequency_distribution_word_counts_in_documents

In [2]:
# load data for each corpus (each csv file)
import matplotlib.pyplot as plt

import pandas as pd
filepath='/home/yiyi/Documents/masterthesis/CPD/data/cleand_query_output_csv/019b8823-aa09-4d8f-8b8d-26433d76dff3'
df = pd.read_csv(filepath)
df["words"] = df['text'] + df['title']
words_df = df[df.lang == 'en']
words_df = words_df[words_df.words.notnull()]
docs = words_df.words.to_list()  # => data
# process the data words
data_words = list(sent_to_words(docs))

data_ready = process_data_words(data_words)
# build lda model

In [88]:
df.head(2)

,text,topic_1,topic_2,topic_3,topic_4,topic_5,topic_6,topic_7,topic_8,topic_9,topic_10,topic_11,topic_12,topic_13,topic_14
0,tastfully decorate modern convenience docking ...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,give room hear band play late room vacuum enti...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0

In [8]:
data_ready[:1], len(data_ready)

([['tastfully',
   'decorate',
   'modern',
   'convenience',
   'docking',
   'station',
   'convenience']],
 5019)

In [9]:
texts=[" ".join(text) for text in data_ready]

In [10]:
texts[:1]

['tastfully decorate modern convenience docking station convenience']

In [71]:
rows = []
for text in texts:
    rows.append({"text": text})
df = pd.DataFrame(rows)
print(len(df))

5019

In [72]:
import numpy as np
import tqdm as tqdm

import scipy.sparse as s_sparse

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.feature_extraction.stop_words import ENGLISH_STOP_WORDS

from corextopic import corextopic as ct
from corextopic import vis_topic as vt

# Topic Modeling

In [73]:
vectorizer = TfidfVectorizer(
    max_df=.5,
    min_df=10,
    max_features=None,
    ngram_range=(1, 2),
    norm=None,
    binary=True,
    use_idf=False,
    sublinear_tf=False
)
vectorizer = vectorizer.fit(df['text'])
tfidf = vectorizer.transform(df['text'])
vocab = vectorizer.get_feature_names()
print(len(vocab))

3415

In [74]:
from categories import CATEGORIES

In [75]:
categories_lower = [[x.lower() for x in category] for category in CATEGORIES]
len(categories_lower)

15

In [76]:
categories_lower[-3].append('fitness')

In [78]:
categories_lower[-3]

['wellness', 'wellness area cleanliness', 'sauna', 'fitness area', 'fitness']

In [77]:
model = ct.Corex(n_hidden=15, seed=42)
model = model.fit(
    tfidf,
    words=vocab
)

In [79]:
for i, topic_ngrams in enumerate(model.get_topics(n_words=10)):
    topic_ngrams = [ngram[0] for ngram in topic_ngrams if ngram[1] > 0]
    print("Topic #{}: {}".format(i+1, ", ".join(topic_ngrams)))

Topic #1: check, tell, ask, call, day, arrive, book, leave, hour, next
Topic #2: bathroom, dirty, elevator, shower, floor, never, stain, carpet, money, furniture
Topic #3: beach, pool, private beach, private, walk, great, beach pool, location, quiet, duval
Topic #4: staff, friendly, helpful, reach, staff friendly, stay, stay reach, wonderful, friendly helpful, beautiful
Topic #5: comfortable, clean, area, chair, spacious, bed, towel, small, large, restaurant
Topic #6: pay, charge, parking, cost, car, expect, fee, resort_fee, rate, park
Topic #7: time, first, spend, first time, work, people, back, last, second, bring
Topic #8: give, bad, issue, guest, request, ever, notice, start, management, change
Topic #9: night, pm, ready, wait, show, room ready, housekeeping, stay night, put, hear
Topic #10: find, much, review, way, well, feel, resort, overlook, point, wife
Topic #11: look, upgrade, offer, order, couple, receive, full, instead, far, upgrade room
Topic #12: experience, overall, property, however, member, staff member, read, keep, let, note
Topic #13: water, balcony, morning, coffee, face, end, lobby, free, seaweed, courtyard
Topic #14: price, service, high, quality, level, worth price, closet, food, clothe, suitcase
Topic #15: view, great view, room view, view room, beautiful view, view ocean, ocean, view great, view pool, amazing view

In [80]:
anchors=[
    [a for a in topic if a in vocab]
    for topic in categories_lower
]
anchors = list(filter(lambda x: len(x)>0, anchors))

In [83]:
anchors, len(anchors)

([['bathroom',
   'balcony',
   'view',
   'tv',
   'furniture',
   'shower',
   'room size',
   'old room',
   'new room'],
  ['comfort'],
  ['cleanliness'],
  ['beach'],
  ['breakfast'],
  ['food', 'menu', 'steak', 'fish', 'seafood'],
  ['bar'],
  ['location', 'shopping', 'parking'],
  ['service',
   'reception',
   'restaurant service',
   'pool service',
   'beach service',
   'housekeeping staff',
   'management',
   'bar service',
   'room service'],
  ['vibe'],
  ['wifi'],
  ['pool'],
  ['value', 'terrace', 'elevator'],
  ['luxury hotel', 'family hotel', 'resort hotel', 'beach hotel']],
 14)

In [82]:
model = ct.Corex(n_hidden=14, seed=42)
model = model.fit(
    tfidf,
    words=vocab,
    anchors=anchors, # Pass the anchors in here
    anchor_strength=3 # Tell the model how much it should rely on the anchors
)

In [84]:
for i, topic_ngrams in enumerate(model.get_topics(n_words=10)):
    topic_ngrams = [ngram[0] for ngram in topic_ngrams if ngram[1] > 0]
    print("Topic #{}: {}".format(i+1, ", ".join(topic_ngrams)))

Topic #1: bathroom, balcony, shower, furniture, tv, view, room size, bed, small, stain
Topic #2: day, first, comfort, ready, towel, last, pm, room ready, show, change
Topic #3: check, ask, call, tell, cleanliness, give, wait, arrive, review, night
Topic #4: beach, private beach, private, beach great, beach staff, hotel beach, beach area, beach room, small beach, great beach
Topic #5: breakfast, eat breakfast, free breakfast, service breakfast, breakfast include, buffet, breakfast lunch, bed breakfast, breakfast expensive, great breakfast
Topic #6: food, menu, steak, fish, food drink, restaurant, food service, great food, drink food, food restaurant
Topic #7: bar, pool bar, bar restaurant, restaurant bar, drink bar, bar staff, bar great, bar pool, hotel bar, bar area
Topic #8: location, great location, great, location great, perfect location, hotel location, location perfect, location staff, perfect, location hotel
Topic #9: service, room service, management, reception, pool service, housekeeping staff, great service, beach service, bar service, service great
Topic #10: time, walk, well, next, drink, chair, water, end, look, thing
Topic #11: charge, pay, wifi, price, much, find, cost, really, rate, fee
Topic #12: pool, beach pool, pool area, pool beach, pool staff, area, pool great, great pool, pool small, pool room
Topic #13: elevator, dirty, expect, value, never, floor, money, work, bad, carpet
Topic #14: staff, friendly, reach, helpful, stay, staff friendly, stay reach, wonderful, friendly helpful, beautiful

In [85]:

topic_df = pd.DataFrame(
    model.transform(tfidf), 
    columns=["topic_{}".format(i+1) for i in range(14)]
).astype(float)
topic_df.index = df.index
df = pd.concat([df, topic_df], axis=1)

In [87]:
df.sample(100, random_state=42)

,text,topic_1,topic_2,topic_3,topic_4,topic_5,topic_6,topic_7,topic_8,topic_9,topic_10,topic_11,topic_12,topic_13,topic_14
2600,first time stay previous visit cruise beautifu...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3000,find hotel excellent part service staff restau...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4394,wife stay reach recent trip much debate proper...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2387,hotel cleanliness appearance hotel show age fa...,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1187,wonderful experience overall hotel great room ...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2157,youre_paye reach location beach near night roo...,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0
2585,stay group event amazing resort elegant room c...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
2481,helpful staff great accomodation,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2405,overall great experience main issue parking ho...,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0
2441,first trip look earth find place beach clear w...,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0